/* Basics */
html, 
body { 
    width: 100%;
    height: 100%;
}
.clearfix {
    clear: both;
}
/* Typography */
body {
    color: #FFF;
    font-family: 'Ubuntu Condensed', sans-serif;
    background: url('../img/noisy_net.png') repeat fixed;
}
h1,
h2,
h3 {
    color: tomato;
    font-family: 'Ubuntu Condensed', sans-serif;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
a,
a:visited { 
    text-decoration: none; 
    color: red;
}
a:hover,
a:focus { 
    color: lightgreen;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
}
/* Navigation */

/* Home */
#home {
    height: 100%;
    background: url('../img/saskatoon.jpg');
    background-size: cover;
}
#home-content {
    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* About */

/* Portfolio */

/* Contact */
