/* Basics */
html, 
body { 
    width: 100%;
    height: 100%;
}
.clearfix {
    clear: both;
}
/* Typography */
body {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: url('../img/noisy_net.png') repeat fixed;
}
h1,
h2,
h3 {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
a,
a:visited { 
    text-decoration: none; 
    color: red;
}
a:hover,
a:focus { 
    color: lightgreen;
}
p {
    font-size: 1.1em;
    line-height: 1.5em;
}
/* Navigation */

/* Home */
#home {
    height: 100%;
    background: url('../img/codebg.jpg');
    background-size: cover;
}
#home-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#home-content .button {
    background-color: rgba(93,145,125,0.3);
    border-bottom: 2px solid #5D917D;
    border-radius: 5px;
    margin: 50px 5px 0 5px;
    font: inherit;
}
#home-content .button:hover {
    border-bottom: 2px solid #E6D4A7;
}
/* About */

/* Portfolio */

/* Contact */
